.main-item {
  text-align: center;
  margin: 32px 0 30px 0;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }
}

.main-item__main-caption {
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  width: 256px;

  @media (min-width: $tablet-width) {
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
  }
}
