.main-content {
  min-width: 320px;
}

.main-content__hello-sedona {
  min-width: 320px;
  min-height: 155px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/main-index/background-sedona.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center center;

  @media(min-width: $tablet-width) {
    height: 290px;
    background-position: center bottom;
  }
}

.main-content__city-sedona--sedona {
  padding: 52px 0 10px 0;

  @media(min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    padding: 95px 0 60px 0;
  }
}
.main-content__intro-triangle {
  position: relative;
  top: 2px;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    top: 2px;
    width: 100%;
  }
}

.main-content__user-photos {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
  }
}
