.main-item {
    text-align: center;
    margin: 32px 0 35px 0;
}

.main-item__main-caption {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}
