.main-list {
  min-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.main-list__main-caption {
  margin: 0 auto;
  min-width: 282px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}
