.user-photos__photos-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-color: #e5e5e5;

  @media (min-width: $tablet-width) {
    width: 446px;
    margin: 0 auto;
  }
}

.photos-sights__photos-list {
  margin-top: 33px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
}

.photos-sights__photos-list--spacens {
  margin-top: 0;
}

.user-photos__photos-caption {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.user-photos__photos-subtitle {
  min-width: 282px;
  margin: 0 auto;
  padding-top: 26px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
